<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.tomboati">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_new_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_new_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/ThemeTomboAti">
        <activity android:name=".view.activity.TayamumActivity"></activity>
        <activity android:name=".view.activity.UpdateProfileActivity" />
        <activity android:name=".view.activity.DoaSesudahSholatActivity" />
        <activity android:name=".view.activity.SyaratSholatActivity" />
        <activity android:name=".view.activity.KodeReferralActivity" />
        <activity android:name=".view.activity.DetailPaketActivity" />
        <activity android:name=".view.activity.DoaRamadhanActivity"></activity>
        <activity android:name=".view.activity.AdabBerdoaActivity" />
        <activity android:name=".view.activity.WaktuMustajabActivity" />
        <activity android:name=".view.activity.TampatMustajabActivity" />
        <activity android:name=".view.activity.DoaZiarahActivity" />
        <activity android:name=".view.activity.DoaHajiActivity" />
        <activity android:name=".view.activity.DoaUmrahActivity" />
        <activity android:name=".view.activity.DetailHajiUmrahActivity" />
        <activity android:name=".view.activity.DetailDoaSehariHariActivity" />
        <activity android:name=".view.activity.DoaSehariHariActivity" />
        <activity android:name=".view.activity.YasinTahlilActivity" />
        <activity android:name=".view.activity.IstighosahActivity" />
        <activity android:name=".view.activity.DetailJuzActivity" />
        <activity android:name=".view.activity.KalenderHijriahActivity" />
        <activity android:name=".view.activity.DetailNewsActivity" />
        <activity android:name=".view.activity.DetailAsmaulHusnaActivity" />
        <activity android:name=".view.activity.NewAsmaulHusnaActivity" />
        <activity android:name=".view.activity.DetailAlQuranActivity" />
        <activity android:name=".view.activity.AlQuranActivity" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_stat_icon" />

        <activity android:name=".view.activity.MasjidTerdekatActivity" />
        <activity android:name=".view.activity.JadwalSholatActivity" />
        <activity android:name=".view.activity.ListPaketActivity" />
        <activity android:name=".view.activity.ArahKiblatActivity" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity android:name=".view.activity.WudhuActivity" />
        <activity android:name=".view.activity.SholatWajibActivity" />
        <activity android:name=".view.activity.AsmaulHusnaActivity" />
        <activity android:name=".view.activity.SyaratActivity" />
        <activity android:name=".view.activity.SignUpActivity" />
        <activity android:name=".view.activity.ImageChatActivity" />
        <activity android:name=".view.activity.WisataReligiActivity" />
        <activity android:name=".view.activity.DoaDzikirActivity" />
        <activity android:name=".view.activity.SholatActivity" />
        <activity android:name=".view.activity.UmrohHajiActivity" />
        <activity android:name=".view.activity.MainActivity" />
        <activity android:name=".view.activity.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".utils.notif.MyFireBaseMessagingService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".utils.notif.MyFirebaseIdService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>