<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.tomboati">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_new_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_new_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/ThemeTomboAti">
        <activity android:name=".view.activity.pendaftaran.PendaftaranHajiRegulerActivity"></activity>
        <activity android:name=".view.activity.pendaftaran.PendaftaranBadalHajiActivity" />
        <activity android:name=".view.activity.pendaftaran.DrawTandaTanganPendaftaran" />
        <activity android:name=".view.activity.DetailKomunitasActivity" />
        <activity android:name=".view.activity.KomunitasActivity" />
        <activity android:name=".view.activity.pendaftaran.PendaftaranDataKeluargaActivity" />
        <activity android:name=".view.activity.pendaftaran.PendaftaranDataDiriActivity" />
        <activity android:name=".view.activity.doa_dzikir.TembangSholawatActivity" />
        <activity android:name=".view.activity.doa_dzikir.HitungTasbihLainnyaActivity" />
        <activity android:name=".view.activity.sholat.SholatDiperjalananActivity" />
        <activity android:name=".view.activity.sholat.SholatJenazahActivity" />
        <activity android:name=".view.activity.doa_dzikir.AnekaSholawatActivity" />
        <activity android:name=".view.activity.sholat.AdabSholatActivity" />
        <activity android:name=".view.activity.sholat.SholatSunnahActivity" />
        <activity android:name=".view.activity.doa_dzikir.HitungTasbihActivity" />
        <activity android:name=".view.activity.doa_dzikir.TasbihActivity" />
        <activity android:name=".view.activity.doa_dzikir.DoaRamadhanActivity" />
        <activity android:name=".view.activity.sholat.TayamumActivity" />
        <activity android:name=".view.activity.UpdateProfileActivity" />
        <activity android:name=".view.activity.sholat.DoaSesudahSholatActivity" />
        <activity android:name=".view.activity.sholat.SyaratSholatActivity" />
        <activity android:name=".view.activity.KodeReferralActivity" />
        <activity android:name=".view.activity.DetailPaketActivity" />
        <activity android:name=".view.activity.doa_dzikir.AdabBerdoaActivity" />
        <activity android:name=".view.activity.doa_dzikir.WaktuMustajabActivity" />
        <activity android:name=".view.activity.doa_dzikir.TampatMustajabActivity" />
        <activity android:name=".view.activity.doa_dzikir.DoaZiarahActivity" />
        <activity android:name=".view.activity.doa_dzikir.DoaHajiActivity" />
        <activity android:name=".view.activity.doa_dzikir.DoaUmrahActivity" /> <!-- <activity android:name=".view.activity.DetailHajiUmrahActivity" /> -->
        <activity android:name=".view.activity.doa_dzikir.DetailDoaSehariHariActivity" />
        <activity android:name=".view.activity.doa_dzikir.DoaSehariHariActivity" />
        <activity android:name=".view.activity.doa_dzikir.YasinTahlilActivity" />
        <activity android:name=".view.activity.doa_dzikir.IstighosahActivity" />
        <activity android:name=".view.activity.quran.DetailJuzActivity" />
        <activity android:name=".view.activity.KalenderHijriahActivity" />
        <activity android:name=".view.activity.DetailNewsActivity" />
        <activity android:name=".view.activity.doa_dzikir.DetailAsmaulHusnaActivity" />
        <activity android:name=".view.activity.doa_dzikir.NewAsmaulHusnaActivity" />
        <activity android:name=".view.activity.quran.DetailAlQuranActivity" />
        <activity android:name=".view.activity.quran.AlQuranActivity" />
        <activity android:name=".view.activity.doa_dzikir.DetailAnekaSholawatActivity" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_stat_icon" />

        <activity android:name=".view.activity.sholat.MasjidTerdekatActivity" />
        <activity android:name=".view.activity.sholat.JadwalSholatActivity" />
        <activity android:name=".view.activity.pendaftaran.ListPaketActivity" />
        <activity android:name=".view.activity.pendaftaran.ListPaketHajiActivity" />
        <activity android:name=".view.activity.sholat.ArahKiblatActivity" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity android:name=".view.activity.sholat.WudhuActivity" />
        <activity android:name=".view.activity.sholat.SholatWajibActivity" />
        <activity android:name=".view.activity.doa_dzikir.AsmaulHusnaActivity" />
        <activity android:name=".view.activity.pendaftaran.SyaratActivity" />
        <activity android:name=".view.activity.SignUpActivity" />
        <activity android:name=".view.activity.ImageChatActivity" />
        <activity android:name=".view.activity.WisataReligiActivity" />
        <activity android:name=".view.activity.doa_dzikir.DoaDzikirActivity" />
        <activity android:name=".view.activity.sholat.SholatActivity" />
        <activity android:name=".view.activity.UmrohHajiActivity" />
        <activity android:name=".view.activity.MainActivity" />
        <activity android:name=".view.activity.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".utils.notif.MyFireBaseMessagingService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".utils.notif.MyFirebaseIdService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>